@import 'src/style/common';


//个人中心下tabs
.am-person-tabs{
  .am-person-tabs_null{height: r(50);}
  >ul{position: fixed;width: 100%;height: r(50);background: #FEFEFE;bottom: 0;left: 0;
    box-shadow: 0 -3px 10px #EAEAE9;display: flex;
    li{flex: 1;display: flex;flex-direction: column;align-items: center;justify-content: center;
      img{width: r(21);height: r(21);}
      p{font-size: r(11);margin-top: r(5);color: #B2B2B2}
      &.active{
        p{color: #9E9E9E}
      }
    }
  }
}

// 下拉切换显示
.am-switch-tabs{transition:height .2s;height: 0;overflow: hidden;
  .am-switch-tabs_content{max-height: r(200);overflow-y: auto;}
}

.am-arrow-switch{
  transition:transform .2s;
  &.action-up{transform: rotate(180deg)}
}