@import 'src/style/common.scss';

.am-radio{
    display: inline-block;  
    width:r(12);
    height:r(12);
    margin-right:r(8);
    // margin-top:r(13);
    vertical-align: baseline;
    position: relative;
    input{
        opacity: 0;
        position: absolute;
        z-index: 10;
        left:0;
        top:0;
        width: 100%;
        height:100%;
        &:checked+.bg{
            background-image: url(./images/radio1.png);
        }
    }
    .bg{
        background: url(./images/radio.png) no-repeat;
        width:100%;
        height:100%;
        background-size: contain;
        position: absolute;
        left:0; 
        top:0;
    }
}