@import 'src/style/common.scss';

.code-input{
    display: flex;
    align-items: center;
    height:r(54);
    padding-right:r(20);
    @include borderTop(1,#EBEBEB);
    input{
        &::-webkit-input-placeholder{
            color: rgba(0,0,0,0.20);
          }
        min-width: 0;
        flex:1;
        color: rgba(0,0,0,0.60);
        font-size: r(17);
        border:0;
        outline: none;
    }
    label{
        font-size: r(16);
        color: #000000;
        width:r(110);
        letter-spacing: r(-0.62);
      }
    button{
        &:disabled{
            color:rgba(0,0,0,0.6)
        }
        background: transparent;
        outline: none;
        border: 0;
        @include borderLeft(1,#EBEBEB);
        // border-left:1px solid #EBEBEB;
        height:100%;
        font-size: r(15);
        color: #3B7ED1;
        padding:0 0 0 r(16);
    }
}