@import 'src/style/common';

.am-result-error{width: 100%;text-align: center;
  >img{width: r(198);display: inline-block}
  >p{font-size: r(16);color: rgba(0,0,0,0.60);letter-spacing: 0.19px;margin-top: r(22)}
  >div{font-size: r(12);color: rgba(0,0,0,0.40);line-height: r(12);margin-top: r(11.7)}
}