@import 'src/style/common.scss';



.am-infolist-box {
    @extend %box-middle;    
    padding:r(10) r(20); 
    min-height: r(50);
    line-height: 1;   
    box-sizing: border-box;
    &:not(:last-child) {
        @include borderBottom(1,$list-border-color);
        background-position: top, right top,r(20) bottom, left top;
    }
    &>.title-box {
        width:50%;
        &>.title {
            color:$list-name-color;
            font-size:r(16);
            line-height: 1;
        }
        &>.title-tips {
            padding-top:r(5);
            color:$form-title-color;
            font-size:r(11);
            line-height: 1;
        }
    }
    &>.cont-box {
        -webkit-box-flex: 1;
        text-align: right;
        &>.cont {
            color:$form-title-color;
            font-size:r(13);
        }
        &>.cont-tips {
            font-size:r(13);
            color:$form-title-color;
        }
        &>.cont-state {
            font-size:r(13);
        }
    }
    &>.arrow {
        display: block;
        margin-left:r(20);
        width:r(7);
    }
}
.am-repayment-info-table {
    background: 
    -webkit-radial-gradient(0 r(125), circle , transparent 0%, transparent r(6), #fff 0, #fff 100%) left top, 
    -webkit-radial-gradient(100% r(125),circle , transparent 0%, transparent r(6), #fff 0, #fff 100%) right top;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    border-radius: r(4);
    filter:drop-shadow(0 r(1) r(4) rgba(0, 0, 0, .05));
    &>.head {
        
        @extend %box-middle;
        position: relative;
        -webkit-box-orient: vertical;
        height: r(125);
        text-align: center;
        line-height: 1;
        overflow: hidden;
        &:after {
            @include borderBottom(1, rgba(0, 0, 0, .05));
            content:'';
            position: absolute;
            bottom:0;
            left:r(6);
            right:r(6);
            height:1px;
        }
        &>.title {
            padding-top: r(24);
            font-size: r(13);
            color: $list-cont-color;
        }
        &>.amount {
            padding-top: r(20);
            padding-bottom: r(30);
            font-size: r(48);
            font-family: PingFangSC-Semibold;
        }
    }
    &>.info-body {
        padding: r(25);
        &>.list {
            @extend %box-middle;
            padding: r(7) 0;
            min-height: r(28);
            font-size: r(13);
            line-height: 1;
            box-sizing: border-box;
        }
        .name {
            width: r(110);
            color: #000;
        }
        :not(a.cont){
            color: $list-cont-color;
        }
        .cont {
            -webkit-box-flex: 1;            
        }
    }
}
.loan-list-ul {
    &>.done {
        .cont-state {
            color:$form-title-color;
        }
    }
    .cont-state {
        color:#F09335;
    }
}