
@import 'src/style/_extend.scss';
@import 'src/style/common.scss';

.am-warn {
    @extend %box-middle;
    padding:0 r(16);
    background:#FFD7D7;
    color:#F43530;
    font-size:r(14);
    &>.icon {        
        margin-right:r(5);
        width:r(19);
        height:r(19);
    }
    &>.cont {
        padding:r(11) 0;
    }
}